{% extends 'farmer/basic.html' %} {% block title %}About{% endblock %} {% block aboutactive %}active{% endblock aboutactive %} {% block body %} {% load static %}

<main role="main" class="main">

    <div class="container" style="margin-top: 9%;">
        <h1 class="display-3">About Krishi Setu <img src="https://img.icons8.com/emoji/55/000000/man-farmer.png" /></h1>
        <p>
            In India, farmers are the most exploited and underprivileged humans. They never get the deserved profits, owing to their efforts. The reasons include faulty farm practices like overuse of chemical fertilizers, uneven rainfall, soil infertility or any
            crop related diseases. But one of the major causes is the transportation of the harvested produce to regulated markets. Farmers just get one-fourth part of the total share while the remaining share is distributed amongst the middlemen. With
            food inflation at an all-time high, these middlemen are only boosting the soaring food prices further. Gaining from these profits, the middlemen deprive farmers and consumers of a fair price.</p>
        <p>
            Krishi Setu is an attempt to eliminate middlemen so that the farmer can get maximum profit from the trade chain. Our portal is a simple website where a farmer can upload the quantity of his produce and wholesalers can purchase as per requirements and
            availability. Some peculiar features of the website include daily news ,farm related tutorials, accessing dashboard to keep the farmer updated about the current market price. This website also consist of a feature which will determine crop
            disease by uploading a picture of crop with some other details. The consumer will get recommendations on their purchases as per season and locality. The buyer can visit the place or have courier services integrated. We would choose the most
            optimized path if the good is supposed to be delivered to another location and there are drop points that come in between. This also reduces delivery cost-efficiently.
        </p>
    </div>


</main>
{% endblock %}