{% extends 'farmer/basic.html' %} {% block title %}Contact{% endblock %} {% block contactactive %}active{% endblock contactactive %} {% block body %}
<style>
    .con {
        margin-top: 80px;
    }
    
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td,
    th {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<div class="container con" style="margin-top:8%;">
    <h2>Government Helpline Numbers for Farmers</h2>
    <small><a href="https://vikaspedia.in/e-governance/citizen-services/toll-free-number">Info from vikaspedia</a></small>
    <hr>

    <h5 class="my-3">Agriculture</h5>
    <table>
        <tbody>
            <tr>
                <td width="319">
                    <p>Name</p>
                </td>
                <td width="319">
                    <p>Contact</p>
                </td>
            </tr>
            <tr>
                <td width="319">
                    <p>Kisan Call Centre</p>
                </td>
                <td width="319">
                    <p>18001801551</p>
                </td>
            </tr>
            <tr>
                <td width="319">
                    <p>IMD Weather on Web</p>
                </td>
                <td width="319">
                    <p>18001801717</p>
                </td>
            </tr>
            <tr>
                <td width="319">
                    <p>Crop Insurance Schemes -ICICI Lombard</p>
                </td>
                <td width="319">
                    <p>18002666</p>
                </td>
            </tr>
            <tr>
                <td width="319">
                    <p>Crop Insurance Schemes-IFFCO Tokio</p>
                </td>
                <td width="319">
                    <p>18001035499</p>
                </td>
            </tr>
            <tr>
                <td width="319">
                    <p>Crop Insurance Schemes-Reliance general</p>
                </td>
                <td width="319">
                    <p>18003009</p>
                </td>
            </tr>
            <tr>
                <td width="319">
                    <p>Crop Insurance Schemes-Royal Sundaram</p>
                </td>
                <td width="319">
                    <p>18604250000</p>
                </td>
            </tr>
            <tr>
                <td width="319">
                    <p>Crop Insurance Schemes -TATA AIG Insurance</p>
                </td>
                <td width="319">
                    <p>18002667780</p>
                </td>
            </tr>
            <tr>
                <td width="319">
                    <p>Crop Insurance Schemes- Future Generali</p>
                </td>
                <td width="319">
                    <p>1800220233 / 18605003333</p>
                </td>
            </tr>
            <tr>
                <td width="319">
                    <p>Crop Insurance Schemes -HDFC ERGO</p>
                </td>
                <td width="319">
                    <p>18002700700</p>
                </td>
            </tr>
            <tr>
                <td width="319">
                    <p>Crop Insurance Schemes -Chola Insurance</p>
                </td>
                <td width="319">
                    <p>18002005544</p>
                </td>
            </tr>
            <tr>
                <td width="319">
                    <p>Crop Insurance Schemes -L&amp;T insurance</p>
                </td>
                <td width="319">
                    <p>18002095846</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}