{% extends 'farmer/basic.html' %} {% block title %}Crop Recommendation{% endblock %} {% block body %}
<style>
  .mt-3,
  .my-3 {
    margin-top: 4rem !important;
  }

  .card-img-top {
    height: 200px;
  }

  .predict {
    margin-top: 3mm;
    border: 1inch;
    border-block-color: #769e5c;
    border-width: 1.5mm;
    border-radius: 10px;
    background-color: #769e5c;
  }

  .input-field.col.l6 input {
    width: 80%;
  }

  .predict:hover {
    background-color: white;
    color: black;
    font-style: bold;
  }
</style>
<h2 class="text-center mt-3">Crop Prediction</h2>

<div class="container" style="padding-top: 3rem; padding-left: 5rem;">
  <form action="{% url 'cropPrediction' %}" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="input-field col l6">
        <span style="color: #769e5c;font-weight: 600;font-size: 1.25rem;">Nitrogen %</span><br><br>
        <input type="number" name="nitrogen" min="0" max="100" id="nitrogen" placeholder="Nitrogen Percentage(0%-100%)"
          style="border: 3px solid #769e5c;border-radius: 10px" required>
      </div>
      <div class="input-field col l6">
        <span style="color: #769e5c;font-weight: 600;font-size: 1.25rem;">Potassium %</span><br><br>
        <input type="number" name="potassium" min="0" max="100" id="potassium"
          placeholder="Potassium Percentage(0%-100%)" style="border: 3px solid #769e5c;border-radius: 10px" required>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="input-field col l6">
        <span style="color: #769e5c;font-weight: 600;font-size: 1.25rem;">Phosphorous</span><br><br>
        <input type="number" name="phosphorous" min="0" max="100" id="phosphorous"
          placeholder="Phosphorous Percentage(0%-100%)" style="border: 3px solid #769e5c;border-radius: 10px" required>
      </div>
      <div class="input-field col l6">
        <span style="color: #769e5c;font-weight: 600;font-size: 1.25rem;">pH Level</span><br><br>
        <input type="number" name="ph" min="0" max="14" step="0.01" id="ph" placeholder="pH Level(0-14)"
          style="border: 3px solid #769e5c;border-radius: 10px" required>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="input-field col l6">
        <span style="color: #769e5c;font-weight: 600;font-size: 1.25rem;">Rainfall (in mm)</span><br><br>
        <input type="number" name="rainfall" min="0" step="0.01" id="rainfall"
          style="border: 3px solid #769e5c;border-radius: 10px" required>
      </div>
      <div class="input-field col l6">
        <span style="color: #769e5c;font-weight: 600;font-size: 1.25rem;">Temperature (in Degree Celcius)</span><br><br>
        <input type="number" name="temperature" id="temperature" style="border: 3px solid #769e5c;border-radius: 10px" required>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="input-field col l6">
        <span style="color: #769e5c;font-weight: 600;font-size: 1.25rem;">Humidity %</span><br><br>
        <input type="number" name="humidity" id="humidity" placeholder="Humidity Percentage(0%-100%)"
          style="border: 3px solid #769e5c;border-radius: 10px" required>
      </div>
      <div class="input-field col l6">
        <button id="predict-btn" class="predict" type="submit" class="btn btn-large right"
          style="width: 12rem; font-size:1.1rem">Predict</button>
      </div>
    </div>

  </form>
</div>
<br><br>

{% block Yash %}{% endblock %}


</div>
{% endblock %}