{% extends 'farmer/basic.html' %} {% block title %}CropInfo{% endblock %} {% block body %}
<style>
    .mt-3,
    .my-3 {
        margin-top: 7rem!important;
    }
    
    .card-img-top {
        height: 200px;
    }
</style>
    <h2 class="text-center mb-3">Crop Prediction</h2>
    
    <div class="container" style="padding-top: 3rem;">
      <form action="{% url 'cropPrediction' %}" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="input-field col l6">
            <span style="color: #769e5c;font-weight: 600;font-size: 1.25rem;">Nitrogen</span><br><br>
            <input type="text" name="nitrogen" id="nitrogen" style="border: 3px solid #769e5c;border-radius: 10px">
          </div>
          <div class="input-field col l6">
            <span style="color: #769e5c;font-weight: 600;font-size: 1.25rem;">Potassium</span><br><br>
            <input type="text" name="potassium" id="potassium" style="border: 3px solid #769e5c;border-radius: 10px">
          </div>
        </div>
        <div class="row">
          <div class="input-field col l6">
            <span style="color: #769e5c;font-weight: 600;font-size: 1.25rem;">Phosphorous</span><br><br>
            <input type="text" name="phosphorous" id="phosphorous"
              style="border: 3px solid #769e5c;border-radius: 10px">
          </div>
          <div class="input-field col l6">
            <span style="color: #769e5c;font-weight: 600;font-size: 1.25rem;">pH Level</span><br><br>
            <input type="text" name="ph" id="ph" style="border: 3px solid #769e5c;border-radius: 10px">
          </div>
        </div>
        <div class="row">
          <div class="input-field col l6">
            <span style="color: #769e5c;font-weight: 600;font-size: 1.25rem;">Rainfall (in mm)</span><br><br>
            <input type="text" name="rainfall" id="rainfall" style="border: 3px solid #769e5c;border-radius: 10px">
          </div>
          <div class="input-field col l6">
            <span style="color: #769e5c;font-weight: 600;font-size: 1.25rem;">City</span><br><br>
            <input type="text" name="city" id="city" style="border: 3px solid #769e5c;border-radius: 10px">
          </div>
        </div>
        <button id="predict-btn" type="submit" class="btn btn-large right"
          style="width: 12rem; font-size:1.1rem">Predict</button>
        </div>
      </form>
    </div>
  
{% block Yash %}{% endblock %}
  
        
</div>
{% endblock %}