{% extends 'farmer/basic.html' %} {% block title %}Tutorials{% endblock %} {% block tutoactive %}active{% endblock tutoactive %}{% block body %}


<div class="container">
    <h2 style="margin-top: 9%; text-align: center;">Tutorials</h2>
    <hr><br>
    <div class="row">
        <div class="card col-md-4">
            <iframe height=420px width=350px src="https://www.youtube.com/embed/2F74xw1VK8E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="card col-md-4">
            <iframe height=420px width=350px src="https://www.youtube.com/embed/SPFYG-RhbOo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="card col-md-4">
            <iframe height=420px width=350px src="https://www.youtube.com/embed/Kn_rlpyRCZs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

{% endblock %}