{% extends 'basic.html' %} {% block title %}MainPage{% endblock %} {% block body %}
<style>
    .farmer {
        height: 100rem;
        background-color: #c0f5ba;
    }
    
    .customer {
        height: 100rem;
        background-color: #def8fc;
    }
    
    .img-profile {
        height: auto;
        vertical-align: middle;
        max-width: 14rem;
        max-height: 14rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.4);
        margin-left: 12%;
        margin-top: 100px;
    }
    
    h1 {
        font-family: "Saira Extra Condensed";
        font-weight: 700;
        margin-top: 150px;
        line-height: 100px;
        text-align: center;
    }
    
    h3 {
        font-family: "Saira Extra Condensed";
        font-weight: 500;
        line-height: 50px;
        text-align: center;
    }
    
    li {
        list-style: none;
    }
    
    html {
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: hidden;
    }
</style>
<link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
<div class="row">
    <div class="col-3 farmer">
        <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mb-2" src="https://cdn.downtoearth.org.in/library/large/2018-04-16/0.41635100_1523870091_136310496_216ff74e2f_z.jpg">
            <h3>Crop Disease Prediction</h3>
            <h3>Crop Information</h3>
            <h3>Crop News</h3>
            <h3>Tutorials related to farming</h3>
        </span>
    </div>
    <div class="col-6 krishi">
        <div class="container">
            <h1><img src="https://img.icons8.com/plasticine/64/000000/sprout.png" /> KRISHI SETU</h1>
            <p class="text-center"></p>
            <div class="d-flex justify-content-around my-5">
                <a href="/farmer/" type="button" class="btn btn-outline-success btn-lg"><img src="https://img.icons8.com/emoji/48/000000/man-farmer.png" /> Farmer</a>
                <a href="/shop/" type="button" class="btn btn-outline-info btn-lg"><img src="https://img.icons8.com/bubbles/50/000000/green-shopping-basket.png" /> Customer</a>
            </div>
        </div>
    </div>
    <div class="col-3 customer">
        <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mb-2" src="https://images.jdmagicbox.com/comp/neyveli/y7/9999p4142.4142.170929190235.c7y7/catalogue/kps-vegetable-wholesale-and-retail-shop-neyveli-general-stores-awy05.jpeg">
        	<h3>Vegetables</h3>
        	<h3>Fruits</h3>
        	<h3>Pulses</h3>
        	<h3>Grains</h3>
        </span>
    </div>
</div>
{% endblock %}